<?xml version="1.0" encoding="utf-8" ?>
<config version = "1">

    <!-- Loggingeinstellungen -->
    <log modus="Override" path="/var/log/" encoding="iso-8859-15" filename="turtlebay.log" timepattern="dd.MM.yyyy HH:mm:ss" />

    <port>80</port>
    <connectionlimit>300</connectionlimit>
    <assets>./</assets>

    <stagedirectory>./</stagedirectory>
    
</config>